In [1]:
import pandas as pd
import numpy as np

In [2]:
wine = pd.read_csv("wines.csv")
pairings = pd.read_csv("pairings.csv")

In [3]:
wine

,bold red,medium Red,light red,rose,rich white,light white,sparkling,sweet white,dessert
0,malbec,merlot,pinot noir,provencal rose,chardonnay,sauvignon Blanc,champagne,moscato,port
1,syrah,sangiovese,grenache,white zinfandel,semillon,albarino,prosecco,riesling,sherry
2,shiraz,zinfandel,gamay,loire valley rose,voignier,pinot blanc,cremant,chenin blanc,madeira
3,mourvedre,cabernet franc,st. laurent,pinot noir rose,marsanne,vermentino,cava,gewurtztraminer,vin santo
4,pinotage,tempranillo,carignan,syrah rose,roussanne,melon de bourgogne,metodo classico,lateharvest whites,muscat
5,petite sirah,nebbiolo,counoise,garnacha rosado,NaN,gargenega,sparkling wine,alascian pinot gris,pedro ximenez
6,touriga nacional,barbera,NaN,bandol rose,NaN,trebblano,sparkling rose,NaN,NaN
7,cabernet sauvignon,cotes du rhone blend,NaN,tempranillo rose,NaN,pinot gris,NaN,NaN,NaN
8,bordeaux blend,NaN,NaN,saignee method rose,NaN,pinot grigio,NaN,NaN,NaN
9,meritage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
pairings

,category,weight,group,type,bold red,medium Red,light red,rose,rich white,light white,sparkling,sweet white,dessert
0,meat,0.40,red meat,beef,5.0,2.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5
1,meat,0.40,red meat,lamb,5.0,2.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5
2,meat,0.40,red meat,venison,5.0,2.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5
3,meat,0.40,cured meat,salami,2.0,2.0,5.0,2.0,0.5,0.5,2.0,5.0,2.0
4,meat,0.40,cured meat,proscuitto,2.0,2.0,5.0,2.0,0.5,0.5,2.0,5.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,sweet,0.05,sweets,caramel,0.5,0.5,0.5,0.5,0.5,0.5,0.5,2.0,2.0
111,sweet,0.05,sweets,creme brulee,0.5,0.5,0.5,0.5,0.5,0.5,0.5,2.0,2.0
112,sweet,0.05,sweets,ice cream,0.5,0.5,0.5,0.5,0.5,0.5,0.5,2.0,2.0
113,sweet,0.05,chocolate,chocolate,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,5.0
114,sweet,0.05,coffee,coffee,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,5.0

In [23]:
ingredients = ["chicken", "green beans", "funghi", "oregano", "brie"]

In [24]:
dinner = pd.DataFrame()
for x in ingredients:
    for column in pairings.columns:
        dinner = pd.concat([dinner,pairings.loc[pairings[column].isin([x])]])

In [25]:
dinner

,category,weight,group,type,bold red,medium Red,light red,rose,rich white,light white,sparkling,sweet white,dessert
10,meat,0.40,poultry,chicken,0.5,2.0,5.0,2.0,5.0,2.0,2.0,0.5,0.5
48,vegetable,0.15,green vegetables,green beans,0.5,0.5,0.5,0.5,0.5,5.0,2.0,0.5,0.5
60,vegetable,0.15,funghi,crimini,2.0,5.0,5.0,0.5,5.0,0.5,0.5,0.5,0.5
61,vegetable,0.15,funghi,maitake,2.0,5.0,5.0,0.5,5.0,0.5,0.5,0.5,0.5
62,vegetable,0.15,funghi,chanterelle,2.0,5.0,5.0,0.5,5.0,0.5,0.5,0.5,0.5
63,vegetable,0.15,funghi,portobello,2.0,5.0,5.0,0.5,5.0,0.5,0.5,0.5,0.5
81,herb/spices,0.10,herbs,oregano,0.5,2.0,2.0,2.0,2.0,5.0,0.5,0.5,0.5
32,dairy,0.20,soft cheese,brie,0.5,2.0,5.0,2.0,5.0,2.0,2.0,2.0,2.0

In [26]:
dinner = dinner.groupby("group").mean()
dinner

,weight,bold red,medium Red,light red,rose,rich white,light white,sparkling,sweet white,dessert
group,,,,,,,,,,
funghi,0.15,2.0,5.0,5.0,0.5,5.0,0.5,0.5,0.5,0.5
green vegetables,0.15,0.5,0.5,0.5,0.5,0.5,5.0,2.0,0.5,0.5
herbs,0.10,0.5,2.0,2.0,2.0,2.0,5.0,0.5,0.5,0.5
poultry,0.40,0.5,2.0,5.0,2.0,5.0,2.0,2.0,0.5,0.5
soft cheese,0.20,0.5,2.0,5.0,2.0,5.0,2.0,2.0,2.0,2.0

In [27]:
wine_scale = dinner.columns.drop("weight")

In [28]:
for column in wine_scale:
    dinner[column] = dinner["weight"] * dinner[column]
dinner

,weight,bold red,medium Red,light red,rose,rich white,light white,sparkling,sweet white,dessert
group,,,,,,,,,,
funghi,0.15,0.300,0.750,0.750,0.075,0.750,0.075,0.075,0.075,0.075
green vegetables,0.15,0.075,0.075,0.075,0.075,0.075,0.750,0.300,0.075,0.075
herbs,0.10,0.050,0.200,0.200,0.200,0.200,0.500,0.050,0.050,0.050
poultry,0.40,0.200,0.800,2.000,0.800,2.000,0.800,0.800,0.200,0.200
soft cheese,0.20,0.100,0.400,1.000,0.400,1.000,0.400,0.400,0.400,0.400

In [29]:
dinner.loc['Total',:]= dinner.sum(axis=0)
dinner

,weight,bold red,medium Red,light red,rose,rich white,light white,sparkling,sweet white,dessert
group,,,,,,,,,,
funghi,0.15,0.300,0.750,0.750,0.075,0.750,0.075,0.075,0.075,0.075
green vegetables,0.15,0.075,0.075,0.075,0.075,0.075,0.750,0.300,0.075,0.075
herbs,0.10,0.050,0.200,0.200,0.200,0.200,0.500,0.050,0.050,0.050
poultry,0.40,0.200,0.800,2.000,0.800,2.000,0.800,0.800,0.200,0.200
soft cheese,0.20,0.100,0.400,1.000,0.400,1.000,0.400,0.400,0.400,0.400
Total,1.00,0.725,2.225,4.025,1.550,4.025,2.525,1.625,0.800,0.800

In [30]:
def get_column_name_for_max_values_of(row):
    return dinner.idxmax(1).loc[row]

In [31]:
x = get_column_name_for_max_values_of("Total")

In [32]:
# for column in wine.columns:
#     if x == column:
#         r = wine[x].sample().values[0]
# r

In [47]:
drink = [wine[x].sample().values[0] for column in wine.columns if x == column][0]

In [48]:
f"The best pairing for your dinner will be {drink}."

'The best pairing for your dinner will be grenache.'