In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
path = os.path.join("df_main.csv")
df = pd.read_csv(path)
df.columns

Index(['Unnamed: 0', 'category', 'beverage', 'food', 'rating', 'recipeName',
       'nutrition', 'ingred', 'ingr_count'],
      dtype='object')

In [3]:
wine = df[["category", "beverage", "food", "nutrition"]]
wine

,category,beverage,food,nutrition
0,White Wine,Sancerre,Chevre Cheese,"[260.2, 32.0, 10.0, 17.0, 20.0, 68.0, 2.0]"
1,White Wine,Sancerre,Goat Cheese,"[269.3, 25.0, 7.0, 15.0, 14.0, 52.0, 8.0]"
2,White Wine,"Gewürztraminer, Alsace",Muenster Cheese,"[414.4, 36.0, 6.0, 26.0, 63.0, 55.0, 4.0]"
3,Dessert Wine,Sauternes,Roquefort Cheese,"[226.2, 8.0, 162.0, 13.0, 9.0, 16.0, 14.0]"
4,Dessert Wine,Banyuls,Dark Chocolate,"[80.9, 1.0, 67.0, 0.0, 2.0, 2.0, 6.0]"
...,...,...,...,...
7780,White Wine,Grenache Blanc,Roasted Peppers,"[769.6, 49.0, 17.0, 56.0, 56.0, 69.0, 30.0]"
7781,White Wine,Grenache Blanc,Marjoram,"[64.1, 0.0, 3.0, 0.0, 5.0, 0.0, 4.0]"
7782,Red Wine,Beaujolais,Seafood Macaroni and Cheese,NaN
7783,Red Wine,Cabernet Sauvignon,Dark Chocolate,"[80.9, 1.0, 67.0, 0.0, 2.0, 2.0, 6.0]"
7784,Red Wine,Pinot Noir,Seafood Macaroni and Cheese,NaN

In [6]:
wine = wine.dropna(subset=['nutrition'])
wine

,category,beverage,food,nutrition
0,White Wine,Sancerre,Chevre Cheese,"[260.2, 32.0, 10.0, 17.0, 20.0, 68.0, 2.0]"
1,White Wine,Sancerre,Goat Cheese,"[269.3, 25.0, 7.0, 15.0, 14.0, 52.0, 8.0]"
2,White Wine,"Gewürztraminer, Alsace",Muenster Cheese,"[414.4, 36.0, 6.0, 26.0, 63.0, 55.0, 4.0]"
3,Dessert Wine,Sauternes,Roquefort Cheese,"[226.2, 8.0, 162.0, 13.0, 9.0, 16.0, 14.0]"
4,Dessert Wine,Banyuls,Dark Chocolate,"[80.9, 1.0, 67.0, 0.0, 2.0, 2.0, 6.0]"
...,...,...,...,...
7778,White Wine,Grenache Blanc,Eggplant,"[537.9, 31.0, 31.0, 11.0, 37.0, 55.0, 24.0]"
7779,White Wine,Grenache Blanc,Yellow Squash,"[354.8, 32.0, 12.0, 45.0, 24.0, 64.0, 11.0]"
7780,White Wine,Grenache Blanc,Roasted Peppers,"[769.6, 49.0, 17.0, 56.0, 56.0, 69.0, 30.0]"
7781,White Wine,Grenache Blanc,Marjoram,"[64.1, 0.0, 3.0, 0.0, 5.0, 0.0, 4.0]"
7783,Red Wine,Cabernet Sauvignon,Dark Chocolate,"[80.9, 1.0, 67.0, 0.0, 2.0, 2.0, 6.0]"

In [5]:
wine[["calories", "total fat", "sugar", "sodium", "protein", "saturated fat", "carbohydrates"]] = pd.DataFrame(wine.nutrition.values.tolist(), index = wine.index)
wine

ValueError: Columns must be same length as key