In [1]:
import pandas as pd
import csv
import os
import numpy as np
import json
from datetime import datetime, date
%load_ext blackcellmagic
# import plotly.express as px
# import plotly.graph_objs as go
# from plotly.subplots import make_subplots
# from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
# init_notebook_mode(connected=True) 
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, desc, inspect, cast, Float,Integer
from db_config import pwd

In [2]:
engine = create_engine(f'mysql+pymysql://root:{pwd}@127.0.0.1:3306/wine_db')

In [3]:
inspector = inspect(engine)
table_names = inspector.get_table_names()

# schema = inspector.get_columns("icecreamstore")
# print(schema)
table_names

['pairing_data', 'wine_blurbs', 'wine_data', 'world_wine_data']

In [23]:
Base = automap_base()
Base.prepare(engine, reflect=True)
session = Session(engine)
wine_data = Base.classes.wine_data
wine_blurbs = Base.classes.wine_blurbs

In [5]:
# schema = inspector.get_columns("wine_data")
# # schema

## Wine Create Wine Route for wine info pages and plots (Pie Plot Attributes)

In [14]:
#Wine Data Plot
wine = "Malbec"

In [19]:
qry = session.query("* from wine_data;").statement
df = pd.read_sql_query(qry, engine).drop(columns="ID")
df = df.loc[df[wine] > 0]
df

,Attributes,Cabernet Sauvignon,Pinot Noir,Syrah,Sangiovese,Merlot,Malbec,Sauvignon Blanc,Chardonnay,Chenin Blanc,Reisling,Gerwurtzraminer
0,BODY,5,3,5,4,4,5,2,3,2,1,3
1,RED FRUIT,3,5,0,5,5,2,0,0,0,0,0
4,BLACK FRUIT,5,0,5,3,3,5,0,0,0,0,0
5,FLORAL,2,5,3,0,3,3,3,2,2,3,5
7,HERBACIOUS,4,3,4,4,2,2,5,0,0,1,0
8,PEPPER,3,0,5,4,1,2,0,0,0,0,0
9,EARTH,3,4,3,3,3,3,0,0,0,0,0
10,BAKING SPICE,5,3,4,2,5,4,0,0,0,0,0
12,TANNINS,4,2,3,4,2,2,0,0,0,0,0
13,ACID,3,4,3,4,3,2,5,3,5,5,1
14,ABV,4,3,4,4,4,3,3,4,3,1,4
15,RESIDUAL SUGAR,2,2,2,1,1,2,2,2,2,3,3

In [17]:
data = {
    "Wine_Name": pd.DataFrame(df[wine]).columns.values.tolist(),
    "Attribute_Labels": np.array(pd.DataFrame(df["Attributes"]).values)
    .flatten()
    .tolist(),
    "Attribute_Values": np.array(pd.DataFrame(df[wine]).values).flatten().tolist(),
}
data

{'Wine_Name': ['Malbec'],
 'Attribute_Labels': ['BODY',
  'RED FRUIT',
  'BLACK FRUIT',
  'FLORAL',
  'HERBACIOUS',
  'PEPPER',
  'EARTH',
  'BAKING SPICE',
  'TANNINS',
  'ACID',
  'ABV',
  'RESIDUAL SUGAR'],
 'Attribute_Values': [5, 2, 5, 3, 2, 2, 3, 4, 2, 2, 3, 2]}

## Munge Raw Data

In [56]:
# wine_type_df = []
# rawData_df = pd.read_csv("Data/wine_pairings_RAWDATA.csv")
# rawData_df
# wine_type_df = pd.DataFrame(rawData_df[["style","wine"]])

In [61]:
# pairing_df = rawData_df.drop(columns="style").transpose()
# pairing_df.columns = pairing_df.iloc[0]
# pairing_df = pd.DataFrame(pairing_df[2:]).rename(columns={"wine": "pairing"})
# pairing_df.to_csv("Data/pairing_data.csv", encoding='utf-8')
# wine_type_df.to_csv("Data/wine_categories.csv", encoding='utf-8')

In [66]:
# pairing_df.to_sql(name="pairing_data", con=engine, index_label="ID", if_exists="append")

InternalError: (pymysql.err.InternalError) (1170, "BLOB/TEXT column 'ID' used in key specification without a key length")
[SQL: CREATE INDEX `ix_pairing_data_ID` ON pairing_data (`ID`)]
(Background on this error at: http://sqlalche.me/e/2j85)

## Blurb Data

In [39]:
qry = session.query("*").filter(wine_blurbs.wine == wine).statement
df = pd.read_sql_query(qry, engine).drop(columns="ID")
df

Empty DataFrame
Columns: [wine, blurb]
Index: []

In [31]:
data = {
    "Wine": np.array(pd.DataFrame(df["wine"]).values)
    .flatten()
    .tolist(),
    "Blurb": np.array(pd.DataFrame(df["blurb"]).values)
    .flatten()
    .tolist()
}
data

{'Wine': ['Malbec'],
 'Blurb': ['Known for its plump, dark fruit flavors and smoky finish, Malbec wine offers a great alternative to higher priced Cabernet Sauvignon and Syrah.  Look to Argentina for bold, fruit-forward Malbecs, while those from France are more earthy and restrained.  Unlike Cabernet Sauvignon, Malbec doesnt have a super long finish. Because of this, Malbec is great with leaner red meats. It also does extremely well with funky flavors like blue cheese and rustic flavors like mushrooms and cumin spice.']}

## Wine Map Data

In [34]:
qry = (
session.query("* from world_wine_data").statement
)
df = pd.read_sql_query(qry, engine).drop(columns = "ID")
df

,Country,Wine_Production,CODES,Largest_Vineyards,Exports_Values,Exports,Imports_Values,Imports,Consumption
0,Italy,54.8,ITA,702,"$4,771,361,172.94",22.285897,"$68,575,684.80",18.043449,21.209
1,France,49.1,FRA,789,"$5,804,650,668.68",22.481925,"$462,240,240.98",19.951595,26.196
2,Spain,44.4,ESP,969,"$2,054,743,135.27",21.443417,"$84,317,181.86",18.250096,9.445
3,United States,23.9,USA,430,"$1,288,960,997.30",20.977102,"$4,646,536,989.52",22.259388,32.597
4,Argentina,14.5,ARG,219,"$770,027,827.77",20.461937,"$2,563,509.00",14.756888,9.351
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,0.0,WLF,0,$0.00,0.000000,$0.00,0.000000,0.000
245,Samoa,0.0,WSM,0,"$8,868.00",9.090205,"$15,400.14",9.642132,0.000
246,Yemen,0.0,YEM,0,$0.00,0.000000,$0.00,0.000000,0.000
247,Zambia,0.0,ZMB,0,"$289,584.00",12.576201,"$2,519,971.00",14.739758,0.000
248,Zimbabwe,0.0,ZWE,0,"$29,453.00",10.290551,"$2,639,371.00",14.786051,0.000

In [36]:
    data = {
    "Country": np.array(pd.DataFrame(df["Country"]).values).flatten().tolist(),
    "Wine_Production": np.array(pd.DataFrame(df["Wine_Production"]).values).flatten().tolist(),
    "CODES": np.array(pd.DataFrame(df["CODES"]).values).flatten().tolist(),
    "Largest_Vineyards": np.array(pd.DataFrame(df["Largest_Vineyards"]).values).flatten().tolist(),
    "Exports_Values": np.array(pd.DataFrame(df["Exports_Values"]).values).flatten().tolist(),
    "Exports": np.array(pd.DataFrame(df["Exports"]).values).flatten().tolist(),
    "Imports_Values": np.array(pd.DataFrame(df["Imports_Values"]).values).flatten().tolist(),
    "Imports": np.array(pd.DataFrame(df["Imports"]).values).flatten().tolist(),
    "Consumption": np.array(pd.DataFrame(df["Consumption"]).values).flatten().tolist()
    }
data

{'Country': ['Italy',
  'France',
  'Spain',
  'United States',
  'Argentina',
  'Chile',
  'Australia',
  'Germany',
  'South Africa',
  'China',
  'Portugal',
  'Romania',
  'Hungary',
  'Brazil',
  'New Zealand',
  'Austria',
  'Greece',
  'Switzerland',
  'Aruba',
  'Afghanistan',
  'Angola',
  'Anguilla',
  'land Islands',
  'Albania',
  'Andorra',
  'United Arab Emirates',
  'Armenia',
  'American Samoa',
  'Antarctica',
  'French Southern Territories',
  'Antigua and Barbuda',
  'Azerbaijan',
  'Burundi',
  'Belgium',
  'Benin',
  'Bonaire, Sint Eustatius and Saba',
  'Burkina Faso',
  'Bangladesh',
  'Bulgaria',
  'Bahrain',
  'Bahamas',
  'Bosnia and Herzegovina',
  'Saint Barthlemy',
  'Belarus',
  'Belize',
  'Bermuda',
  'Bolivia (Plurinational State of)',
  'Barbados',
  'Brunei Darussalam',
  'Bhutan',
  'Bouvet Island',
  'Botswana',
  'Central African Republic',
  'Canada',
  'Cocos (Keeling) Islands',
  "Cte d'Ivoire",
  'Cameroon',
  'Congo, Democratic Republic of the',
  'Congo',
  'Cook Islands',
  'Colombia',
  'Comoros',
  'Cabo Verde',
  'Costa Rica',
  'Cuba',
  'Curaao',
  'Christmas Island',
  'Cayman Islands',
  'Cyprus',
  'Czechia',
  'Djibouti',
  'Dominica',
  'Denmark',
  'Dominican Republic',
  'Algeria',
  'Ecuador',
  'Egypt',
  'Eritrea',
  'Western Sahara',
  'Estonia',
  'Ethiopia',
  'Finland',
  'Fiji',
  'Falkland Islands (Malvinas)',
  'Faroe Islands',
  'Micronesia (Federated States of)',
  'Gabon',
  'United Kingdom of Great Britain and Northern Ireland',
  'Georgia',
  'Guernsey',
  'Ghana',
  'Gibraltar',
  'Guinea',
  'Guadeloupe',
  'Gambia',
  'Guinea-Bissau',
  'Equatorial Guinea',
  'Grenada',
  'Greenland',
  'Guatemala',
  'French Guiana',
  'Guam',
  'Guyana',
  'Hong Kong',
  'Heard Island and McDonald Islands',
  'Honduras',
  'Croatia',
  'Haiti',
  'Indonesia',
  'Isle of Man',
  'India',
  'British Indian Ocean Territory',
  'Ireland',
  'Iran (Islamic Republic of)',
  'Iraq',
  'Iceland',
  'Israel',
  'Jamaica',
  'Jersey',
  'Jordan',
  'Japan',
  'Kazakhstan',
  'Kenya',
  'Kyrgyzstan',
  'Cambodia',
  'Kiribati',
  'Saint Kitts and Nevis',
  'Korea, Republic of',
  'Kuwait',
  "Lao People's Democratic Republic",
  'Lebanon',
  'Liberia',
  'Libya',
  'Saint Lucia',
  'Liechtenstein',
  'Sri Lanka',
  'Lesotho',
  'Lithuania',
  'Luxembourg',
  'Latvia',
  'Macao',
  'Saint Martin (French part)',
  'Morocco',
  'Monaco',
  'Moldova, Republic of',
  'Madagascar',
  'Maldives',
  'Mexico',
  'Marshall Islands',
  'North Macedonia',
  'Mali',
  'Malta',
  'Myanmar',
  'Montenegro',
  'Mongolia',
  'Northern Mariana Islands',
  'Mozambique',
  'Mauritania',
  'Montserrat',
  'Martinique',
  'Mauritius',
  'Malawi',
  'Malaysia',
  'Mayotte',
  'Namibia',
  'New Caledonia',
  'Niger',
  'Norfolk Island',
  'Nigeria',
  'Nicaragua',
  'Niue',
  'Netherlands',
  'Norway',
  'Nepal',
  'Nauru',
  'Oman',
  'Pakistan',
  'Panama',
  'Pitcairn',
  'Peru',
  'Philippines',
  'Palau',
  'Papua New Guinea',
  'Poland',
  'Puerto Rico',
  "Korea (Democratic People's Republic of)",
  'Paraguay',
  'Palestine, State of',
  'French Polynesia',
  'Qatar',
  'Runion',
  'Russian Federation',
  'Rwanda',
  'Saudi Arabia',
  'Sudan',
  'Senegal',
  'Singapore',
  'South Georgia and the South Sandwich Islands',
  'Saint Helena, Ascension and Tristan da Cunha',
  'Svalbard and Jan Mayen',
  'Solomon Islands',
  'Sierra Leone',
  'El Salvador',
  'San Marino',
  'Somalia',
  'Saint Pierre and Miquelon',
  'Serbia',
  'South Sudan',
  'Sao Tome and Principe',
  'Suriname',
  'Slovakia',
  'Slovenia',
  'Sweden',
  'Eswatini',
  'Sint Maarten (Dutch part)',
  'Seychelles',
  'Syrian Arab Republic',
  'Turks and Caicos Islands',
  'Chad',
  'Togo',
  'Thailand',
  'Tajikistan',
  'Tokelau',
  'Turkmenistan',
  'Timor-Leste',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Tuvalu',
  'Taiwan',
  'Tanzania, United Republic of',
  'Uganda',
  'Ukraine',
  'United States Minor Outlying Islands',
  'Uruguay',
  'Uzbekistan',
  'Holy See',
  'Saint Vincent and the Grenadines',
  'Venezuela (Bolivarian Republic of)',
  'Virgin Islands (British)',
  'Virgin Islands (U.S.)',
  'Viet Nam',
  'Vanuatu',
  'Wallis and Futuna',
  'Samoa',
  'Yemen',
  'Zambia',
  'Zimbabwe'],
 'Wine_Production': [54.8,
  49.1,
  44.4,
  23.9,
  14.5,
  12.9,
  12.9,
  9.8,
  9.5,
  9.3,
  6.1,
  5.1,
  3.6,
  3.1,
  3.0,
  2.8,
  2.2,
  1.1,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 'CODES': ['ITA',
  'FRA',
  'ESP',
  'USA',
  'ARG',
  'CHL',
  'AUS',
  'DEU',
  'ZAF',
  'CHN',
  'PRT',
  'ROU',
  'HUN',
  'BRA',
  'NZL',
  'AUT',
  'GRC',
  'CHE',
  'ABW',
  'AFG',
  'AGO',
  'AIA',
  'ALA',
  'ALB',
  'AND',
  'ARE',
  'ARM',
  'ASM',
  'ATA',
  'ATF',
  'ATG',
  'AZE',
  'BDI',
  'BEL',
  'BEN',
  'BES',
  'BFA',
  'BGD',
  'BGR',
  'BHR',
  'BHS',
  'BIH',
  'BLM',
  'BLR',
  'BLZ',
  'BMU',
  'BOL',
  'BRB',
  'BRN',
  'BTN',
  'BVT',
  'BWA',
  'CAF',
  'CAN',
  'CCK',
  'CIV',
  'CMR',
  'COD',
  'COG',
  'COK',
  'COL',
  'COM',
  'CPV',
  'CRI',
  'CUB',
  'CUW',
  'CXR',
  'CYM',
  'CYP',
  'CZE',
  'DJI',
  'DMA',
  'DNK',
  'DOM',
  'DZA',
  'ECU',
  'EGY',
  'ERI',
  'ESH',
  'EST',
  'ETH',
  'FIN',
  'FJI',
  'FLK',
  'FRO',
  'FSM',
  'GAB',
  'GBR',
  'GEO',
  'GGY',
  'GHA',
  'GIB',
  'GIN',
  'GLP',
  'GMB',
  'GNB',
  'GNQ',
  'GRD',
  'GRL',
  'GTM',
  'GUF',
  'GUM',
  'GUY',
  'HKG',
  'HMD',
  'HND',
  'HRV',
  'HTI',
  'IDN',
  'IMN',
  'IND',
  'IOT',
  'IRL',
  'IRN',
  'IRQ',
  'ISL',
  'ISR',
  'JAM',
  'JEY',
  'JOR',
  'JPN',
  'KAZ',
  'KEN',
  'KGZ',
  'KHM',
  'KIR',
  'KNA',
  'KOR',
  'KWT',
  'LAO',
  'LBN',
  'LBR',
  'LBY',
  'LCA',
  'LIE',
  'LKA',
  'LSO',
  'LTU',
  'LUX',
  'LVA',
  'MAC',
  'MAF',
  'MAR',
  'MCO',
  'MDA',
  'MDG',
  'MDV',
  'MEX',
  'MHL',
  'MKD',
  'MLI',
  'MLT',
  'MMR',
  'MNE',
  'MNG',
  'MNP',
  'MOZ',
  'MRT',
  'MSR',
  'MTQ',
  'MUS',
  'MWI',
  'MYS',
  'MYT',
  'NAM',
  'NCL',
  'NER',
  'NFK',
  'NGA',
  'NIC',
  'NIU',
  'NLD',
  'NOR',
  'NPL',
  'NRU',
  'OMN',
  'PAK',
  'PAN',
  'PCN',
  'PER',
  'PHL',
  'PLW',
  'PNG',
  'POL',
  'PRI',
  'PRK',
  'PRY',
  'PSE',
  'PYF',
  'QAT',
  'REU',
  'RUS',
  'RWA',
  'SAU',
  'SDN',
  'SEN',
  'SGP',
  'SGS',
  'SHN',
  'SJM',
  'SLB',
  'SLE',
  'SLV',
  'SMR',
  'SOM',
  'SPM',
  'SRB',
  'SSD',
  'STP',
  'SUR',
  'SVK',
  'SVN',
  'SWE',
  'SWZ',
  'SXM',
  'SYC',
  'SYR',
  'TCA',
  'TCD',
  'TGO',
  'THA',
  'TJK',
  'TKL',
  'TKM',
  'TLS',
  'TON',
  'TTO',
  'TUN',
  'TUR',
  'TUV',
  'TWN',
  'TZA',
  'UGA',
  'UKR',
  'UMI',
  'URY',
  'UZB',
  'VAT',
  'VCT',
  'VEN',
  'VGB',
  'VIR',
  'VNM',
  'VUT',
  'WLF',
  'WSM',
  'YEM',
  'ZMB',
  'ZWE'],
 'Largest_Vineyards': [702,
  789,
  969,
  430,
  219,
  212,
  145,
  103,
  125,
  875,
  192,
  191,
  69,
  82,
  39,
  48,
  106,
  15,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  64,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  147,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  34,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  448,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  111,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0],
 'Exports_Values': ['$4,771,361,172.94 ',
  '$5,804,650,668.68 ',
  '$2,054,743,135.27 ',
  '$1,288,960,997.30 ',
  '$770,027,827.77 ',
  '$1,646,745,073.75 ',
  '$1,310,510,285.96 ',
  '$904,309,811.35 ',
  '$472,656,790.94 ',
  '$0.00 ',
  '$806,379,601.63 ',
  '$23,199,420.06 ',
  '$47,408,680.84 ',
  '$6,417,122.49 ',
  '$957,887,311.43 ',
  '$174,804,585.83 ',
  '$71,666,364.71 ',
  '$108,799,580.23 ',
  '$37,846.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$36,117.00 ',
  '$195,582.00 ',
  '$18,002,480.08 ',
  '$9,055,907.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$1,801.00 ',
  '$3,683,389.00 ',
  '$0.00 ',
  '$114,103,912.86 ',
  '$18,510.00 ',
  '$0.00 ',
  '$4,838.00 ',
  '$0.00 ',
  '$25,875,459.23 ',
  '$9,761.00 ',
  '$50.00 ',
  '$1,715,380.00 ',
  '$0.00 ',
  '$4,590,698.00 ',
  '$5,296.00 ',
  '$10,425.00 ',
  '$0.00 ',
  '$383,319.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$22,202.00 ',
  '$0.00 ',
  '$32,052,511.69 ',
  '$0.00 ',
  '$0.00 ',
  '$25,226.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$94,688.00 ',
  '$1,435.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$956,697.80 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$91,071,556.56 ',
  '$6,249,785.00 ',
  '$454,738.00 ',
  '$1,106.00 ',
  '$11,003.00 ',
  '$0.00 ',
  '$0.00 ',
  '$10,148,663.64 ',
  '$167,493.00 ',
  '$8,142,462.00 ',
  '$1,082,560.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$159,167,085.94 ',
  '$0.00 ',
  '$2,713,415.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$769,925.00 ',
  '$0.00 ',
  '$0.00 ',
  '$12.00 ',
  '$632,262,315.76 ',
  '$0.00 ',
  '$11,838.00 ',
  '$10,562,662.87 ',
  '$0.00 ',
  '$54,303.15 ',
  '$0.00 ',
  '$924,872.54 ',
  '$0.00 ',
  '$5,327,347.50 ',
  '$0.00 ',
  '$0.00 ',
  '$207,945.09 ',
  '$18,598,882.09 ',
  '$1,142,609.07 ',
  '$0.00 ',
  '$208,381.58 ',
  '$3,555,910.00 ',
  '$1,284,332.84 ',
  '$0.00 ',
  '$175,118.00 ',
  '$4,215.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$16,583,306.99 ',
  '$0.00 ',
  '$0.00 ',
  '$6,175.00 ',
  '$0.00 ',
  '$472,988.33 ',
  '$0.00 ',
  '$148,340,847.29 ',
  '$9,633,886.94 ',
  '$50,900,392.63 ',
  '$0.00 ',
  '$0.00 ',
  '$6,159,146.00 ',
  '$0.00 ',
  '$0.00 ',
  '$117,942.00 ',
  '$0.00 ',
  '$4,724,067.00 ',
  '$0.00 ',
  '$0.00 ',
  '$44,422.00 ',
  '$256,703.00 ',
  '$20,150.00 ',
  '$15,445,997.02 ',
  '$11,475.00 ',
  '$0.00 ',
  '$16,983,350.92 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$572,687.00 ',
  '$0.00 ',
  '$43,864,402.03 ',
  '$0.00 ',
  '$4,680,073.00 ',
  '$64,457.00 ',
  '$0.00 ',
  '$0.00 ',
  '$1,677.00 ',
  '$0.00 ',
  '$0.00 ',
  '$252,689,131.86 ',
  '$3,437,487.43 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$1,672,616.00 ',
  '$0.00 ',
  '$902,586.00 ',
  '$794,274.00 ',
  '$0.00 ',
  '$0.00 ',
  '$10,808,828.53 ',
  '$0.00 ',
  '$0.00 ',
  '$61,200.00 ',
  '$0.00 ',
  '$140,923.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$43,406.00 ',
  '$0.00 ',
  '$0.00 ',
  '$160,904.00 ',
  '$114,866,114.42 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$3,196.40 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$13,771,588.27 ',
  '$0.00 ',
  '$179.00 ',
  '$59,384.63 ',
  '$5,817,754.40 ',
  '$13,294,680.01 ',
  '$18,588,221.49 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$1,294,473.00 ',
  '$28,207,775.20 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$6,592.00 ',
  '$1,729,845.00 ',
  '$9,612,251.55 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$424,408.00 ',
  '$5,944,459.96 ',
  '$0.00 ',
  '$9,586,559.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$377,751.22 ',
  '$0.00 ',
  '$0.00 ',
  '$8,868.00 ',
  '$0.00 ',
  '$289,584.00 ',
  '$29,453.00 '],
 'Exports': [22.28589746,
  22.48192527,
  21.44341668,
  20.9771023,
  20.46193721,
  21.22206649,
  20.99368243,
  20.62268257,
  19.97388008,
  0.0,
  20.50806516,
  16.95963784,
  17.67431591,
  15.67448036,
  20.6802407,
  18.97917926,
  18.08753208,
  18.50501803,
  10.54128057,
  0.0,
  0.0,
  0.0,
  0.0,
  10.49451895,
  12.18373501,
  16.70602009,
  16.01892781,
  0.0,
  0.0,
  0.0,
  7.496097345,
  15.11934381,
  0.0,
  18.55262011,
  9.826066406,
  0.0,
  8.484256691,
  0.0,
  17.06880556,
  9.186150133,
  3.912023005,
  14.35514519,
  0.0,
  15.33954264,
  8.574707098,
  9.251962047,
  0.0,
  12.85662282,
  0.0,
  0.0,
  0.0,
  10.00793765,
  0.0,
  17.28288611,
  0.0,
  0.0,
  10.13563049,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  11.45834256,
  7.268920128,
  0.0,
  0.0,
  0.0,
  0.0,
  13.77124284,
  0.0,
  0.0,
  0.0,
  18.32715609,
  15.64805762,
  13.02747671,
  7.008505182,
  9.305923242,
  0.0,
  0.0,
  16.13285259,
  12.02869684,
  15.91260315,
  13.89483916,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  18.88546506,
  0.0,
  14.81371855,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  13.55404839,
  0.0,
  0.0,
  2.48490665,
  20.26481492,
  0.0,
  9.379069975,
  16.17283597,
  0.0,
  10.90233752,
  0.0,
  13.73741121,
  0.0,
  15.48836402,
  0.0,
  0.0,
  12.24502933,
  16.73861203,
  13.94882486,
  0.0,
  12.2471262,
  15.08412157,
  14.06574995,
  0.0,
  12.07321531,
  8.34640487,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  16.62390714,
  0.0,
  0.0,
  8.728264161,
  0.0,
  13.06682599,
  0.0,
  18.81502321,
  16.08079733,
  17.7453812,
  0.0,
  0.0,
  15.63344869,
  0.0,
  0.0,
  11.67794826,
  0.0,
  15.36818064,
  0.0,
  0.0,
  10.70149012,
  12.45567505,
  9.910959567,
  16.55286044,
  9.347926035,
  0.0,
  16.64774406,
  0.0,
  0.0,
  0.0,
  13.2580946,
  0.0,
  17.59661366,
  0.0,
  15.35882427,
  11.07375361,
  0.0,
  0.0,
  7.424761762,
  0.0,
  0.0,
  19.34767056,
  15.05025136,
  0.0,
  0.0,
  0.0,
  0.0,
  14.32989943,
  0.0,
  13.71301926,
  13.58518377,
  0.0,
  0.0,
  16.19587381,
  0.0,
  0.0,
  11.02190247,
  0.0,
  11.85596892,
  0.0,
  0.0,
  0.0,
  10.67835296,
  0.0,
  0.0,
  11.98856319,
  18.55927779,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  8.069780456,
  0.0,
  0.0,
  0.0,
  16.43811821,
  0.0,
  5.187385806,
  10.99179072,
  15.5764249,
  16.40287451,
  16.73803868,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  14.07361422,
  17.15510821,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  8.793612072,
  14.36354237,
  16.07854905,
  0.0,
  0.0,
  0.0,
  12.95845054,
  15.59797024,
  0.0,
  16.07587257,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  12.84199111,
  0.0,
  0.0,
  9.090204571,
  0.0,
  12.57620069,
  10.29055105],
 'Imports_Values': ['$68,575,684.80 ',
  '$462,240,240.98 ',
  '$84,317,181.86 ',
  '$4,646,536,989.52 ',
  '$2,563,509.00 ',
  '$2,508,245.81 ',
  '$336,141,116.27 ',
  '$1,809,853,200.33 ',
  '$6,855,818.00 ',
  '$2,374,025,494.80 ',
  '$40,398,050.52 ',
  '$28,363,932.40 ',
  '$9,012,940.46 ',
  '$331,841,762.80 ',
  '$73,156,425.50 ',
  '$147,714,471.61 ',
  '$14,026,891.07 ',
  '$864,079,471.18 ',
  '$8,665,724.00 ',
  '$0.00 ',
  '$73,674,602.45 ',
  '$0.00 ',
  '$0.00 ',
  '$6,455,787.00 ',
  '$12,321,167.97 ',
  '$103,381,512.95 ',
  '$1,029,456.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$768,128.00 ',
  '$1,670,515.00 ',
  '$196,368.00 ',
  '$666,487,069.57 ',
  '$662,644.00 ',
  '$0.00 ',
  '$965,121.00 ',
  '$287,664.00 ',
  '$13,971,818.34 ',
  '$3,756,160.00 ',
  '$20,234,835.92 ',
  '$16,281,310.24 ',
  '$0.00 ',
  '$22,845,441.15 ',
  '$1,758,656.00 ',
  '$13,323,722.41 ',
  '$0.00 ',
  '$8,115,219.20 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$3,638,072.42 ',
  '$244,147.00 ',
  '$1,657,432,367.71 ',
  '$0.00 ',
  '$0.00 ',
  '$7,798,532.78 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$55,220,585.71 ',
  '$0.00 ',
  '$3,121,815.00 ',
  '$24,291,070.38 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$19,979,782.91 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$482,903,653.37 ',
  '$43,402,002.54 ',
  '$8,691,239.00 ',
  '$13,289,782.79 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$45,480,517.50 ',
  '$2,028,565.00 ',
  '$145,525,460.10 ',
  '$5,418,825.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$502,455.00 ',
  '$0.00 ',
  '$2,613,014.00 ',
  '$0.00 ',
  '$216,571.00 ',
  '$0.00 ',
  '$2,045.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$2,789,043.00 ',
  '$9,549,355.00 ',
  '$0.00 ',
  '$0.00 ',
  '$117,440.00 ',
  '$1,562,477,410.65 ',
  '$0.00 ',
  '$3,451,554.00 ',
  '$16,879,344.14 ',
  '$0.00 ',
  '$9,315,142.46 ',
  '$0.00 ',
  '$7,907,489.00 ',
  '$0.00 ',
  '$282,590,243.11 ',
  '$0.00 ',
  '$0.00 ',
  '$16,737,605.88 ',
  '$21,977,572.51 ',
  '$8,517,892.00 ',
  '$0.00 ',
  '$1,553,752.73 ',
  '$985,033,235.85 ',
  '$39,849,648.52 ',
  '$0.00 ',
  '$2,435,707.00 ',
  '$2,702,187.00 ',
  '$37,568.00 ',
  '$733,724.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$8,505,022.00 ',
  '$0.00 ',
  '$0.00 ',
  '$3,808,735.00 ',
  '$0.00 ',
  '$4,231,262.30 ',
  '$0.00 ',
  '$179,875,147.18 ',
  '$73,566,331.08 ',
  '$54,844,758.31 ',
  '$0.00 ',
  '$0.00 ',
  '$9,866,603.00 ',
  '$0.00 ',
  '$0.00 ',
  '$888,663.00 ',
  '$5,471,366.00 ',
  '$196,761,338.00 ',
  '$0.00 ',
  '$0.00 ',
  '$257,248.00 ',
  '$16,765,281.00 ',
  '$343,997.00 ',
  '$4,158,416.00 ',
  '$3,363,962.00 ',
  '$0.00 ',
  '$18,069,168.84 ',
  '$42,963.00 ',
  '$7,328.00 ',
  '$0.00 ',
  '$12,371,366.72 ',
  '$91,967.00 ',
  '$82,240,964.63 ',
  '$0.00 ',
  '$47,093,715.43 ',
  '$23,200,906.99 ',
  '$380,158.00 ',
  '$0.00 ',
  '$973,924.52 ',
  '$3,151,804.00 ',
  '$0.00 ',
  '$1,194,931,736.16 ',
  '$270,956,439.01 ',
  '$220,058.36 ',
  '$0.00 ',
  '$2,765,589.00 ',
  '$1,391.29 ',
  '$767,370.80 ',
  '$0.00 ',
  '$27,644,507.15 ',
  '$31,756,271.67 ',
  '$453,184.00 ',
  '$0.00 ',
  '$240,181,872.70 ',
  '$0.00 ',
  '$0.00 ',
  '$45,182,387.26 ',
  '$0.00 ',
  '$7,857,771.85 ',
  '$4,918,095.00 ',
  '$0.00 ',
  '$0.00 ',
  '$604,185.00 ',
  '$0.00 ',
  '$0.00 ',
  '$1,810,826.00 ',
  '$226,581,824.89 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$125,701.00 ',
  '$4,465,385.70 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$20,314,980.10 ',
  '$0.00 ',
  '$2,390,548.00 ',
  '$383,635.49 ',
  '$40,339,812.29 ',
  '$9,412,444.34 ',
  '$410,722,628.68 ',
  '$0.00 ',
  '$0.00 ',
  '$1,839,285.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$1,959,147.00 ',
  '$39,011,109.93 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$0.00 ',
  '$178,323.00 ',

### Junk

In [40]:
qry = session.query("* from wine_blurbs").statement
df = pd.read_sql_query(qry, engine).drop(columns="ID")
df

                  wine                                              blurb
0   Cabernet Sauvignon  The worlds most popular red wine grape is a n...
1                Syrah  Syrah is responsible for some of the darkest f...
2               Malbec  Known for its plump, dark fruit flavors and sm...
3            Mourvedre  Mourvedre is a meaty and full-bodied red wine....
4             Pinotage  South Africas own hearty red was created in 1...
5          Petit Sirah  Petit Sirah is loved for its deeply colored wi...
6     Touriga Nacional  Touriga Nacional is a full-bodied red wine fro...
7      Bordeaux Blends  Bordeaux Blends, from the Bordeaux region of F...
8               Merlot  Merlot is loved for its boisterous black cher...
9           Sangiovese  Italys most planted wine variety and the prid...
10      Cabernet Franc  Cabernet Franc is the parent grape of both Mer...
11         Tempranillo  Spains top red wine, made famous by Rioja, wh...
12            Nebbiolo  One of Italys most important red wine varieti...
13             Barbera  Barolo is what everyone talks about from Piedm...
14         Rhne Blend  Most often a blend of  Grenache, Syrah, and Mo...
15          Pinot Noir  Pinot Noir is the worlds most popular light-b...
16            Grenache  Grenache (aka Garnacha) produces rich, flavorf...
17               Gamay  A fruity, floral and sometimes earthy light-bo...
18         St. Laurent  Originating in Austria, this small berried vin...
19     Provence (Ros)  Ros was once only thought of as fruity and cl...
20     White Zinfandel  White Zinfandel is a kind of ros. Expect swee...
21            Dry Ros  Made from a vast variety of grapes all over th...
22          Chardonnay  One of the worlds most popular grapes, Chardo...
23      Gewrztraminer  Treasured for its intense floral aromas, Gewr...
24            Viognier  A rich, oily white wine that originated in the...
25      Marsanne Blend  A primary blending grape in white Rhne blends...
26     Sauvignon Blanc  A popular and unmistakable white wine thats l...
27        Chenin Blanc  Chenin Blanc has a wide range of flavors. When...
28        Riesling Dry  Often overlooked due to the prevalence of swee...
29    Riesling Off Dry  Crisp, with a touch of sweetness, Riesling is ...
30         Pinot Blanc  Pinot Blanc is the white grape mutation of Pin...
31          Vermentino  Vermentino is an important white of Sardinia a...
32  Melon de Bourgogne  Melon or Melon de Bourgogne is the grape of th...
33           Garganega  An important Italian white thats loved for it...
34           Trebbiano  One of the top wine grapes of Italy and France...
35        Pinot Grigio  Pinot Gris (aka Pinot Grigio) is a pinkish gra...
36           Champagne  The most iconic sparkling wine in the world is...
37            Prosecco  Italys number one sparkling wine comes from N...
38             Crmant  French sparkling wines made in the same method...
39                Cava  Cava is the premier sparkling of Spain. The wi...
40            Albario  Albario wine is a delightfully refreshing coa...
41            Carignan  Carignan is a medium-bodied red wine that grow...
42           Zinfandel  Zinfandel wine is a bold, fruit forward red th...

In [43]:
df["wine"].values

array(['Cabernet Sauvignon', 'Syrah', 'Malbec', 'Mourvedre', 'Pinotage',
       'Petit Sirah', 'Touriga Nacional', 'Bordeaux Blends', 'Merlot',
       'Sangiovese', 'Cabernet Franc', 'Tempranillo', 'Nebbiolo',
       'Barbera', 'Rhne Blend', 'Pinot Noir', 'Grenache', 'Gamay',
       'St. Laurent', 'Provence (Ros)', 'White Zinfandel', 'Dry Ros',
       'Chardonnay', 'Gewrztraminer', 'Viognier', 'Marsanne Blend',
       'Sauvignon Blanc', 'Chenin Blanc', 'Riesling Dry',
       'Riesling Off Dry', 'Pinot Blanc', 'Vermentino',
       'Melon de Bourgogne', 'Garganega', 'Trebbiano', 'Pinot Grigio',
       'Champagne', 'Prosecco', 'Crmant', 'Cava', 'Albario', 'Carignan',
       'Zinfandel'], dtype=object)