In [3]:
import pandas as pd
import csv
import os
import json
from datetime import datetime, date
%load_ext blackcellmagic
import plotly.express as px
import plotly.graph_objs as go
from plotly.subplots import make_subplots
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True) 
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, desc, inspect, cast, Float,Integer
from db_config import pwd

The blackcellmagic extension is already loaded. To reload it, use:
  %reload_ext blackcellmagic

In [4]:
engine = create_engine(f'mysql+pymysql://root:{pwd}@127.0.0.1:3306/wine_db')

In [5]:
inspector = inspect(engine)
table_names = inspector.get_table_names()

# schema = inspector.get_columns("icecreamstore")
# print(schema)
table_names

['wine_data']

In [133]:
Base = automap_base()
Base.prepare(engine, reflect=True)
session = Session(engine)
wine_data = Base.classes.wine_data
wine_index = Base.classes.wine_index

In [134]:
schema = inspector.get_columns("wine_data")
# schema

In [107]:
qry = (
    session.query("* from wine_data;")
    .statement
)
df = pd.read_sql_query(qry, engine).drop(columns = "ID").set_index("browser")
df

,Cab Sauv,Pinot Noir,Syrah,Sangiovese,Merlot,Malbec,Sauv Blanc,Chard,Chenin Blanc,Reisling,Gerwurtzraminer
browser,,,,,,,,,,,
BODY,5,3,5,4,4,5,2,3,2,1,3
RED FRUIT,3,5,0,5,5,2,0,0,0,0,0
CITRUS FRUIT,0,0,0,0,0,0,4,4,2,5,1
STONE FRUIT,0,0,0,0,0,0,0,5,5,4,3
BLACK FRUIT,5,0,5,3,3,5,0,0,0,0,0
FLORAL,2,5,3,0,3,3,3,2,2,3,5
Minerality,0,0,0,0,0,0,4,3,3,3,1
HERBACIOUS,4,3,4,4,2,2,5,0,0,1,0
PEPPER,3,0,5,4,1,2,0,0,0,0,0
EARTH,3,4,3,3,3,3,0,0,0,0,0
BAKING SPICE,5,3,4,2,5,4,0,0,0,0,0
LEATHER,3,1,3,5,2,0,0,0,0,0,0
Astringent,4,2,3,4,2,2,0,0,0,0,0
Ph,3,4,3,4,3,2,5,3,5,5,1
ABV,4,3,4,4,4,3,3,4,3,1,4
Dryness,2,2,2,1,1,2,2,2,2,3,3

In [130]:
import_df = df.T.reset_index().rename(columns={"index" : "Wine"})
# import_df = import_df.rename(columns={"browser" : "Wine"})
import_df

browser,Wine,BODY,RED FRUIT,CITRUS FRUIT,STONE FRUIT,BLACK FRUIT,FLORAL,Minerality,HERBACIOUS,PEPPER,EARTH,BAKING SPICE,LEATHER,Astringent,Ph,ABV,Dryness
0,Cab Sauv,5,3,0,0,5,2,0,4,3,3,5,3,4,3,4,2
1,Pinot Noir,3,5,0,0,0,5,0,3,0,4,3,1,2,4,3,2
2,Syrah,5,0,0,0,5,3,0,4,5,3,4,3,3,3,4,2
3,Sangiovese,4,5,0,0,3,0,0,4,4,3,2,5,4,4,4,1
4,Merlot,4,5,0,0,3,3,0,2,1,3,5,2,2,3,4,1
5,Malbec,5,2,0,0,5,3,0,2,2,3,4,0,2,2,3,2
6,Sauv Blanc,2,0,4,0,0,3,4,5,0,0,0,0,0,5,3,2
7,Chard,3,0,4,5,0,2,3,0,0,0,0,0,0,3,4,2
8,Chenin Blanc,2,0,2,5,0,2,3,0,0,0,0,0,0,5,3,2
9,Reisling,1,0,5,4,0,3,3,1,0,0,0,0,0,5,1,3
10,Gerwurtzraminer,3,0,1,3,0,5,1,0,0,0,0,0,0,1,4,3

In [125]:
import_df.iloc[0, 0]

5

In [131]:
# import_df.to_sql(name="wine_index", index_label = "ID",  con=engine, if_exists="append")

## Create Wine data route

In [151]:
qry = (
    session.query("*").filter(wine_index.ID == 0)
    .statement
)
df = pd.read_sql_query(qry, engine).drop(columns = "ID")
df

,Wine,BODY,RED_FRUIT,CITRUS_FRUIT,STONE_FRUIT,BLACK_FRUIT,FLORAL,Minerality,HERBACIOUS,PEPPER,EARTH,BAKING_SPICE,LEATHER,Astringent,Ph,ABV,Dryness
0,Cab Sauv,5,3,0,0,5,2,0,4,3,3,5,3,4,3,4,2

In [152]:
df.to_json(orient = 'records')

'[{"Wine":"Cab Sauv","BODY":5,"RED_FRUIT":3,"CITRUS_FRUIT":0,"STONE_FRUIT":0,"BLACK_FRUIT":5,"FLORAL":2,"Minerality":0,"HERBACIOUS":4,"PEPPER":3,"EARTH":3,"BAKING_SPICE":5,"LEATHER":3,"Astringent":4,"Ph":3,"ABV":4,"Dryness":2}]'