In [3]:
import pandas as pd
import csv
import os
import numpy as np
import json
from datetime import datetime, date
%load_ext blackcellmagic
# import plotly.express as px
# import plotly.graph_objs as go
# from plotly.subplots import make_subplots
# from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
# init_notebook_mode(connected=True) 
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, desc, inspect, cast, Float,Integer
from db_config import pwd

The blackcellmagic extension is already loaded. To reload it, use:
  %reload_ext blackcellmagic

In [4]:
engine = create_engine(f'mysql+pymysql://root:{pwd}@127.0.0.1:3306/wine_db')

In [5]:
inspector = inspect(engine)
table_names = inspector.get_table_names()

# schema = inspector.get_columns("icecreamstore")
# print(schema)
table_names

['wine_index', 'world_wine_data']

In [17]:
Base = automap_base()
Base.prepare(engine, reflect=True)
session = Session(engine)
wine_index = Base.classes.wine_index

In [19]:
# schema = inspector.get_columns("wine_data")
# # schema

## Wine Create Wine Route for wine info pages and plots

In [12]:
wine = "Syrah"

In [23]:
qry = (
    session.query("* from wine_index;")
    .statement
)
df = pd.read_sql_query(qry, engine).drop(columns = "ID")
# df = df.loc[df[wine]> 0]

In [24]:
np.array(pd.DataFrame(df[wine]).values.tolist()).flatten()

KeyError: 'Syrah'

In [198]:
data = {
    "Wine_Name": pd.DataFrame(df[wine]).columns.values.tolist(),
    "Attribute_Labels": np.array(pd.DataFrame(df["Attributes"]).values).flatten().tolist(),
    "Attribute_Values": np.array(pd.DataFrame(df[wine]).values).flatten().tolist()
}

In [200]:
data

{'Wine_Name': ['Syrah'],
 'Attribute_Labels': ['BODY',
  'BLACK FRUIT',
  'FLORAL',
  'HERBACIOUS',
  'PEPPER',
  'EARTH',
  'BAKING SPICE',
  'LEATHER',
  'Astringent',
  'Ph',
  'ABV',
  'Dryness'],
 'Attribute_Values': [5, 5, 3, 4, 5, 3, 4, 3, 3, 3, 4, 2]}

In [199]:
df

,Attributes,Cabernet Sauvingnon,Pinot Noir,Syrah,Sangiovese,Merlot,Malbec,Sauvignon Blanc,Chardonnay,Chenin Blanc,Reisling,Gerwurtzraminer
0,BODY,5,3,5,4,4,5,2,3,2,1,3
4,BLACK FRUIT,5,0,5,3,3,5,0,0,0,0,0
5,FLORAL,2,5,3,0,3,3,3,2,2,3,5
7,HERBACIOUS,4,3,4,4,2,2,5,0,0,1,0
8,PEPPER,3,0,5,4,1,2,0,0,0,0,0
9,EARTH,3,4,3,3,3,3,0,0,0,0,0
10,BAKING SPICE,5,3,4,2,5,4,0,0,0,0,0
11,LEATHER,3,1,3,5,2,0,0,0,0,0,0
12,Astringent,4,2,3,4,2,2,0,0,0,0,0
13,Ph,3,4,3,4,3,2,5,3,5,5,1
14,ABV,4,3,4,4,4,3,3,4,3,1,4
15,Dryness,2,2,2,1,1,2,2,2,2,3,3

## Create alternate wine table (might not use)

In [130]:
import_df = df.T.reset_index().rename(columns={"index" : "Wine"})
# import_df = import_df.rename(columns={"browser" : "Wine"})
import_df

browser,Wine,BODY,RED FRUIT,CITRUS FRUIT,STONE FRUIT,BLACK FRUIT,FLORAL,Minerality,HERBACIOUS,PEPPER,EARTH,BAKING SPICE,LEATHER,Astringent,Ph,ABV,Dryness
0,Cab Sauv,5,3,0,0,5,2,0,4,3,3,5,3,4,3,4,2
1,Pinot Noir,3,5,0,0,0,5,0,3,0,4,3,1,2,4,3,2
2,Syrah,5,0,0,0,5,3,0,4,5,3,4,3,3,3,4,2
3,Sangiovese,4,5,0,0,3,0,0,4,4,3,2,5,4,4,4,1
4,Merlot,4,5,0,0,3,3,0,2,1,3,5,2,2,3,4,1
5,Malbec,5,2,0,0,5,3,0,2,2,3,4,0,2,2,3,2
6,Sauv Blanc,2,0,4,0,0,3,4,5,0,0,0,0,0,5,3,2
7,Chard,3,0,4,5,0,2,3,0,0,0,0,0,0,3,4,2
8,Chenin Blanc,2,0,2,5,0,2,3,0,0,0,0,0,0,5,3,2
9,Reisling,1,0,5,4,0,3,3,1,0,0,0,0,0,5,1,3
10,Gerwurtzraminer,3,0,1,3,0,5,1,0,0,0,0,0,0,1,4,3

In [125]:
import_df.iloc[0, 0]

5

In [131]:
# import_df.to_sql(name="wine_index", index_label = "ID",  con=engine, if_exists="append")

## Create Wine data route (alternate might not use)

In [32]:
qry = (
    session.query("*").filter(wine_index.ID == 5)
    .statement
)
df = pd.read_sql_query(qry, engine).drop(columns = "ID")
df

,Wine,BODY,RED_FRUIT,CITRUS_FRUIT,STONE_FRUIT,BLACK_FRUIT,FLORAL,Minerality,HERBACIOUS,PEPPER,EARTH,BAKING_SPICE,LEATHER,Astringent,Ph,ABV,Dryness
0,Malbec,5,2,0,0,5,3,0,2,2,3,4,0,2,2,3,2

In [30]:
df.to_json(orient = 'records')

'[{"Wine":"Malbec","BODY":5,"RED_FRUIT":2,"CITRUS_FRUIT":0,"STONE_FRUIT":0,"BLACK_FRUIT":5,"FLORAL":3,"Minerality":0,"HERBACIOUS":2,"PEPPER":2,"EARTH":3,"BAKING_SPICE":4,"LEATHER":0,"Astringent":2,"Ph":2,"ABV":3,"Dryness":2}]'