In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import lxml
from urllib.request import Request, urlopen

In [3]:
WINE_REGION_URL = "https://winefolly.com/lifestyle/top-wine-regions-of-the-world/"
WINE_REGION_URL2 = "https://www.tonymappedit.com/top-10-wine-producing-countries/"
COUNTRIES = "https://lab.lmnixon.org/4th/worldcapitals.html"
COUNTRY_CODE_URL = "https://www.iban.com/country-codes"

In [4]:
'''scrape wine region data with coresponding wines'''
req = Request(WINE_REGION_URL2 , headers={'User-Agent': 'Mozilla/5.0'})

webpage = urlopen(req).read()

# html_text = requests.get(WINE_REGION_URL).text
soup = BeautifulSoup(webpage, "html.parser")

In [5]:
country1_df = []
countries = soup.find_all("ol")[1]
items = countries.find_all("li")

for country in items:
    country1_df.append(country.text.split(": "))

In [6]:
country2_df = []
countries2 = soup.find_all("ol")[2]
items = countries2.find_all("li")

for country in items:
    country2_df.append(country.text.split(": "))

In [7]:
country_df = country1_df + country2_df
country_df

[['Italy', '54.8'],
 ['France', '49.1'],
 ['Spain', '44.4'],
 ['United States', '23.9'],
 ['Argentina', '14.5'],
 ['Chile', '12.9'],
 ['Australia', '12.9'],
 ['Germany', '9.8'],
 ['South Africa', '9.5'],
 ['China', '9.3'],
 ['Russia', '6.5'],
 ['Portugal', '6.1'],
 ['Romania', '5.1'],
 ['Hungary', '3.6'],
 ['Brazil', '3.1'],
 ['New Zealand', '3.0'],
 ['Austria', '2.8'],
 ['Greece', '2.2'],
 ['Moldova', '1.9'],
 ['Switzerland', '1.1']]

In [8]:
country_production = pd.DataFrame(country_df).rename(columns = {0: "Country", 1: "WineProduction[HCL]"}).set_index("Country")
country_production

              WineProduction[HCL]
Country
Italy                        54.8
France                       49.1
Spain                        44.4
United States                23.9
Argentina                    14.5
Chile                        12.9
Australia                    12.9
Germany                       9.8
South Africa                  9.5
China                         9.3
Russia                        6.5
Portugal                      6.1
Romania                       5.1
Hungary                       3.6
Brazil                        3.1
New Zealand                   3.0
Austria                       2.8
Greece                        2.2
Moldova                       1.9
Switzerland                   1.1

In [9]:
dfs = pd.read_html(COUNTRIES)[0]

In [10]:
dfs.columns = dfs.iloc[0]

In [11]:
 countries_df = dfs.drop([201, 202, 203])

In [18]:
country_location = countries_df.set_index("Country").drop(columns = ["Latitude", "Longitude"])
country_location

0                 Capital
Country
Country           Capital
Afghanistan         Kabul
Albania            Tirane
Algeria           Algiers
American Samoa  Pago Pago
...                   ...
Venezuela         Caracas
Viet Nam            Hanoi
Yugoslavia       Belgrade
Zambia             Lusaka
Zimbabwe           Harare

[201 rows x 1 columns]

In [19]:
code_dfs = pd.read_html(COUNTRY_CODE_URL)[0].drop(columns=['Alpha-2 code','Numeric']).set_index("Country")
code_dfs

                  Alpha-3 code
Country
Afghanistan                AFG
Åland Islands              ALA
Albania                    ALB
Algeria                    DZA
American Samoa             ASM
...                        ...
Wallis and Futuna          WLF
Western Sahara             ESH
Yemen                      YEM
Zambia                     ZMB
Zimbabwe                   ZWE

[249 rows x 1 columns]

In [21]:
code_country = pd.merge(code_dfs, country_location, how="inner", on="Country").drop(columns= "Capital")
code_country

               Alpha-3 code
Country
Afghanistan             AFG
Albania                 ALB
Algeria                 DZA
American Samoa          ASM
Andorra                 AND
...                     ...
Uzbekistan              UZB
Vanuatu                 VUT
Viet Nam                VNM
Zambia                  ZMB
Zimbabwe                ZWE

[160 rows x 1 columns]

In [23]:
wine_production_HCL = pd.merge(country_production, code_country, how="right", on="Country").rename(columns = {'Alpha-3 code':'CODE'})
wine_production_HCL.to_dict()

{'WineProduction[HCL]': {'Italy': '54.8',
  'France': '49.1',
  'Spain': '44.4',
  'Argentina': '14.5',
  'Chile': '12.9',
  'Australia': '12.9',
  'Germany': '9.8',
  'South Africa': '9.5',
  'China': '9.3',
  'Portugal': '6.1',
  'Romania': '5.1',
  'Hungary': '3.6',
  'Brazil': '3.1',
  'New Zealand': '3.0',
  'Austria': '2.8',
  'Greece': '2.2',
  'Switzerland': '1.1',
  'Afghanistan': nan,
  'Albania': nan,
  'Algeria': nan,
  'American Samoa': nan,
  'Andorra': nan,
  'Angola': nan,
  'Antigua and Barbuda': nan,
  'Armenia': nan,
  'Aruba': nan,
  'Azerbaijan': nan,
  'Bahrain': nan,
  'Bangladesh': nan,
  'Barbados': nan,
  'Belarus': nan,
  'Belgium': nan,
  'Belize': nan,
  'Benin': nan,
  'Bhutan': nan,
  'Bosnia and Herzegovina': nan,
  'Botswana': nan,
  'Brunei Darussalam': nan,
  'Bulgaria': nan,
  'Burkina Faso': nan,
  'Burundi': nan,
  'Cambodia': nan,
  'Cameroon': nan,
  'Canada': nan,
  'Chad': nan,
  'Colombia': nan,
  'Costa Rica': nan,
  'Croatia': nan,
  'Cuba': nan,
  'Cyprus': nan,
  'Denmark': nan,
  'Djibouti': nan,
  'Dominica': nan,
  'Ecuador': nan,
  'Egypt': nan,
  'El Salvador': nan,
  'Equatorial Guinea': nan,
  'Eritrea': nan,
  'Estonia': nan,
  'Ethiopia': nan,
  'Fiji': nan,
  'Finland': nan,
  'French Guiana': nan,
  'French Polynesia': nan,
  'Gabon': nan,
  'Georgia': nan,
  'Ghana': nan,
  'Greenland': nan,
  'Guadeloupe': nan,
  'Guatemala': nan,
  'Guernsey': nan,
  'Guinea': nan,
  'Guinea-Bissau': nan,
  'Guyana': nan,
  'Haiti': nan,
  'Heard Island and McDonald Islands': nan,
  'Honduras': nan,
  'Iceland': nan,
  'India': nan,
  'Indonesia': nan,
  'Iran (Islamic Republic of)': nan,
  'Iraq': nan,
  'Ireland': nan,
  'Israel': nan,
  'Jamaica': nan,
  'Jordan': nan,
  'Kazakhstan': nan,
  'Kenya': nan,
  'Kiribati': nan,
  'Kuwait': nan,
  'Kyrgyzstan': nan,
  'Latvia': nan,
  'Lebanon': nan,
  'Lesotho': nan,
  'Liberia': nan,
  'Liechtenstein': nan,
  'Lithuania': nan,
  'Luxembourg': nan,
  'Madagascar': nan,
  'Malawi': nan,
  'Malaysia': nan,
  'Maldives': nan,
  'Mali': nan,
  'Malta': nan,
  'Martinique': nan,
  'Mauritania': nan,
  'Mayotte': nan,
  'Mexico': nan,
  'Micronesia (Federated States of)': nan,
  'Mozambique': nan,
  'Myanmar': nan,
  'Namibia': nan,
  'Nepal': nan,
  'New Caledonia': nan,
  'Nicaragua': nan,
  'Nigeria': nan,
  'Norfolk Island': nan,
  'Norway': nan,
  'Oman': nan,
  'Pakistan': nan,
  'Palau': nan,
  'Panama': nan,
  'Papua New Guinea': nan,
  'Paraguay': nan,
  'Peru': nan,
  'Poland': nan,
  'Puerto Rico': nan,
  'Qatar': nan,
  'Saint Kitts and Nevis': nan,
  'Saint Lucia': nan,
  'Saint Pierre and Miquelon': nan,
  'Samoa': nan,
  'San Marino': nan,
  'Sao Tome and Principe': nan,
  'Saudi Arabia': nan,
  'Senegal': nan,
  'Sierra Leone': nan,
  'Slovakia': nan,
  'Slovenia': nan,
  'Solomon Islands': nan,
  'Somalia': nan,
  'Suriname': nan,
  'Sweden': nan,
  'Syrian Arab Republic': nan,
  'Tajikistan': nan,
  'Thailand': nan,
  'Togo': nan,
  'Tonga': nan,
  'Tunisia': nan,
  'Turkey': nan,
  'Turkmenistan': nan,
  'Tuvalu': nan,
  'Uganda': nan,
  'Ukraine': nan,
  'Uruguay': nan,
  'Uzbekistan': nan,
  'Vanuatu': nan,
  'Viet Nam': nan,
  'Zambia': nan,
  'Zimbabwe': nan},
 'CODE': {'Italy': 'ITA',
  'France': 'FRA',
  'Spain': 'ESP',
  'Argentina': 'ARG',
  'Chile': 'CHL',
  'Australia': 'AUS',
  'Germany': 'DEU',
  'South Africa': 'ZAF',
  'China': 'CHN',
  'Portugal': 'PRT',
  'Romania': 'ROU',
  'Hungary': 'HUN',
  'Brazil': 'BRA',
  'New Zealand': 'NZL',
  'Austria': 'AUT',
  'Greece': 'GRC',
  'Switzerland': 'CHE',
  'Afghanistan': 'AFG',
  'Albania': 'ALB',
  'Algeria': 'DZA',
  'American Samoa': 'ASM',
  'Andorra': 'AND',
  'Angola': 'AGO',
  'Antigua and Barbuda': 'ATG',
  'Armenia': 'ARM',
  'Aruba': 'ABW',
  'Azerbaijan': 'AZE',
  'Bahrain': 'BHR',
  'Bangladesh': 'BGD',
  'Barbados': 'BRB',
  'Belarus': 'BLR',
  'Belgium': 'BEL',
  'Belize': 'BLZ',
  'Benin': 'BEN',
  'Bhutan': 'BTN',
  'Bosnia and Herzegovina': 'BIH',
  'Botswana': 'BWA',
  'Brunei Darussalam': 'BRN',
  'Bulgaria': 'BGR',
  'Burkina Faso': 'BFA',
  'Burundi': 'BDI',
  'Cambodia': 'KHM',
  'Cameroon': 'CMR',
  'Canada': 'CAN',
  'Chad': 'TCD',
  'Colombia': 'COL',
  'Costa Rica': 'CRI',
  'Croatia': 'HRV',
  'Cuba': 'CUB',
  'Cyprus': 'CYP',
  'Denmark': 'DNK',
  'Djibouti': 'DJI',
  'Dominica': 'DMA',
  'Ecuador': 'ECU',
  'Egypt': 'EGY',
  'El Salvador': 'SLV',
  'Equatorial Guinea': 'GNQ',
  'Eritrea': 'ERI',
  'Estonia': 'EST',
  'Ethiopia': 'ETH',
  'Fiji': 'FJI',
  'Finland': 'FIN',
  'French Guiana': 'GUF',
  'French Polynesia': 'PYF',
  'Gabon': 'GAB',
  'Georgia': 'GEO',
  'Ghana': 'GHA',
  'Greenland': 'GRL',
  'Guadeloupe': 'GLP',
  'Guatemala': 'GTM',
  'Guernsey': 'GGY',
  'Guinea': 'GIN',
  'Guinea-Bissau': 'GNB',
  'Guyana': 'GUY',
  'Haiti': 'HTI',
  'Heard Island and McDonald Islands': 'HMD',
  'Honduras': 'HND',
  'Iceland': 'ISL',
  'India': 'IND',
  'Indonesia': 'IDN',
  'Iran (Islamic Republic of)': 'IRN',
  'Iraq': 'IRQ',
  'Ireland': 'IRL',
  'Israel': 'ISR',
  'Jamaica': 'JAM',
  'Jordan': 'JOR',
  'Kazakhstan': 'KAZ',
  'Kenya': 'KEN',
  'Kiribati': 'KIR',
  'Kuwait': 'KWT',
  'Kyrgyzstan': 'KGZ',
  'Latvia': 'LVA',
  'Lebanon': 'LBN',
  'Lesotho': 'LSO',
  'Liberia': 'LBR',
  'Liechtenstein': 'LIE',
  'Lithuania': 'LTU',
  'Luxembourg': 'LUX',
  'Madagascar': 'MDG',
  'Malawi': 'MWI',
  'Malaysia': 'MYS',
  'Maldives': 'MDV',
  'Mali': 'MLI',
  'Malta': 'MLT',
  'Martinique': 'MTQ',
  'Mauritania': 'MRT',
  'Mayotte': 'MYT',
  'Mexico': 'MEX',
  'Micronesia (Federated States of)': 'FSM',
  'Mozambique': 'MOZ',
  'Myanmar': 'MMR',
  'Namibia': 'NAM',
  'Nepal': 'NPL',
  'New Caledonia': 'NCL',
  'Nicaragua': 'NIC',
  'Nigeria': 'NGA',
  'Norfolk Island': 'NFK',
  'Norway': 'NOR',
  'Oman': 'OMN',
  'Pakistan': 'PAK',
  'Palau': 'PLW',
  'Panama': 'PAN',
  'Papua New Guinea': 'PNG',
  'Paraguay': 'PRY',
  'Peru': 'PER',
  'Poland': 'POL',
  'Puerto Rico': 'PRI',
  'Qatar': 'QAT',
  'Saint Kitts and Nevis': 'KNA',
  'Saint Lucia': 'LCA',
  'Saint Pierre and Miquelon': 'SPM',
  'Samoa': 'WSM',
  'San Marino': 'SMR',
  'Sao Tome and Principe': 'STP',
  'Saudi Arabia': 'SAU',
  'Senegal': 'SEN',
  'Sierra Leone': 'SLE',
  'Slovakia': 'SVK',
  'Slovenia': 'SVN',
  'Solomon Islands': 'SLB',
  'Somalia': 'SOM',
  'Suriname': 'SUR',
  'Sweden': 'SWE',
  'Syrian Arab Republic': 'SYR',
  'Tajikistan': 'TJK',
  'Thailand': 'THA',
  'Togo': 'TGO',
  'Tonga': 'TON',
  'Tunisia': 'TUN',
  'Turkey': 'TUR',
  'Turkmenistan': 'TKM',
  'Tuvalu': 'TUV',
  'Uganda': 'UGA',
  'Ukraine': 'UKR',
  'Uruguay': 'URY',
  'Uzbekistan': 'UZB',
  'Vanuatu': 'VUT',
  'Viet Nam': 'VNM',
  'Zambia': 'ZMB',
  'Zimbabwe': 'ZWE'}}

In [24]:
wine_production_HCL.to_csv("wine_production.csv")